@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-main: #FF792F;
  --color-primary: #2CA6EB;
  --color-secondary: #6c757d;
  --color-primary-dark: #1f3a68;
}
@font-face {
  font-family: SVN-Poppions;
  src: url('/fonts/SVN-Poppins.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: SVN-Poppions;
  src: url('/fonts/SVN-PoppinsMedium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: SVN-Poppions;
  src: url('/fonts/SVN-PoppinsSemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: SVN-Poppions;
  src: url('/fonts/SVN-PoppinsBold.woff2') format('woff2');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:hover {
  /*transition: all .3s;*/
}
html {
  overflow: auto;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000000;
}
ul li {
  list-style: none;
}
body {
  font-family: "SVN-Poppions", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #000000;
}
.container {
  max-width: 1140px;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 765px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /*Tablet*/
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  /*Mobile L*/
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  /*Mobile S*/
  html {
    font-size: 11px;
  }
}