@import './base.css';
.fw-bold {
    font-weight: bold;
}
.page-heading {
    font-size: 2rem;
    cursor: default;
}
.cursor-default {
    cursor: default;
}
.float-animation:hover {
    transform: translateY(-4px);
    transition: transform .4s ease-in-out;
}
.custom-btn {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    text-align: center;
    padding: .7rem 1rem;
    border-radius: 5px;
}
.custom-btn:hover {
    border-color: var(--color-main);
    background-color: var(--color-main);
    color: #ffffff;
}
.custom-input .v-field__input {
    font-size: 1rem;
}
.custom-input .v-messages__message {
    font-size: 0.8rem;
}
.custom-input .v-field-label--floating {
    font-size: 1rem;
}
.custom-input .v-field--focused:not(.v-field--error) .v-field__outline {
    color: var(--color-main) !important;
}
.group-heading {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0 1rem;
}
.group-heading p {
    position: relative;
    z-index: 2;
}
.link-active {
    color: var(--color-main);
}
.link-active:hover:after {
    color: var(--color-main);
}
.link-active:after {
    content: '';
    border-bottom: 3px solid var(--color-main);
    width: 75%;
    display: block;
    margin: .25rem auto 0;
}